In [1]:
import sklearn as skl
import pandas as pd

In [2]:
data = pd.read_csv('../server/data/sampleXYZ.csv')
data[:10]

,Time stamp,X,Y,Z,Activity,X.1,Y.1,Z.1,Activity .1,X.2,...,Z.2,Activity .2,X.3,Y.3,Z.3,Activity .3,X.4,Y.4,Z.4,Activity .4
0,0.00,-1.44,6.97,6.67,1,-5.46,7.24,3.51,2,4.88,...,1.77,3,8.64,-12.19,4.34,4,14.13,-1.27,7.43,5
1,0.02,-1.50,6.90,6.62,1,-5.52,7.34,3.48,2,5.12,...,1.83,3,11.32,-12.78,7.61,4,19.61,1.19,7.88,5
2,0.04,-1.50,6.90,6.61,1,-5.42,7.30,3.73,2,5.34,...,2.15,3,9.85,-11.01,9.90,4,18.61,-2.27,9.45,5
3,0.06,-1.50,6.77,6.84,1,-5.43,7.40,3.40,2,5.95,...,2.32,3,7.23,-11.42,8.59,4,12.25,-3.78,8.55,5
4,0.08,-1.47,7.11,6.91,1,-5.43,7.36,3.39,2,6.52,...,2.60,3,5.44,-10.62,4.74,4,8.67,-2.30,5.67,5
5,0.10,-1.49,6.90,6.78,1,-5.46,7.32,3.51,2,6.91,...,2.87,3,2.99,-8.12,1.72,4,5.49,-2.39,5.43,5
6,0.12,-1.45,6.91,6.63,1,-5.47,7.33,3.52,2,6.75,...,3.41,3,1.90,-5.24,0.59,4,3.34,-2.16,5.83,5
7,0.14,-1.61,6.91,6.70,1,-5.44,7.22,3.71,2,6.66,...,3.97,3,1.90,-2.92,1.13,4,0.00,-1.55,3.38,5
8,0.16,-1.57,6.97,6.56,1,-5.45,7.43,3.50,2,7.31,...,4.21,3,2.46,-1.51,0.81,4,-2.54,-3.40,-0.12,5
9,0.18,-1.58,6.86,6.66,1,-5.40,7.32,3.50,2,7.68,...,4.19,3,3.33,-0.91,0.00,4,-2.04,-7.18,-1.47,5

In [3]:
data.shape

(4500, 21)

In [4]:
act1 = data[:][['X', 'Y', 'Z', 'Activity ']].rename(columns = { 'X':'X', 'Y':'Y', 'Z':'Z', 'Activity ':'Activity'})
act2 = data[:][['X.1', 'Y.1', 'Z.1', 'Activity .1']].rename(columns = { 'X.1':'X', 'Y.1':'Y', 'Z.1':'Z', 'Activity .1':'Activity'})
act3 = data[:][['X.2', 'Y.2', 'Z.2', 'Activity .2']].rename(columns = { 'X.2':'X', 'Y.2':'Y', 'Z.2':'Z', 'Activity .2':'Activity'})
act4 = data[:][['X.3', 'Y.3', 'Z.3', 'Activity .3']].rename(columns = { 'X.3':'X', 'Y.3':'Y', 'Z.3':'Z', 'Activity .3':'Activity'})
act5 = data[:][['X.4', 'Y.4', 'Z.4', 'Activity .4']].rename(columns = { 'X.4':'X', 'Y.4':'Y', 'Z.4':'Z', 'Activity .4':'Activity'})

In [5]:
reshaped = pd.concat([act1, act2, act3, act4, act5], axis = 0)
reshaped[:10]

      X     Y     Z  Activity
0 -1.44  6.97  6.67         1
1 -1.50  6.90  6.62         1
2 -1.50  6.90  6.61         1
3 -1.50  6.77  6.84         1
4 -1.47  7.11  6.91         1
5 -1.49  6.90  6.78         1
6 -1.45  6.91  6.63         1
7 -1.61  6.91  6.70         1
8 -1.57  6.97  6.56         1
9 -1.58  6.86  6.66         1

In [6]:
reshaped.shape

(22500, 4)

In [7]:
X = reshaped[['X', 'Y', 'Z']]
Y = reshaped[['Activity']]
print X.shape, Y.shape

(22500, 3) (22500, 1)

In [8]:
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
rX, rY = shuffle(X, Y, random_state=0)
X_train, X_test, y_train, y_test = train_test_split(rX, rY, test_size=0.20, random_state=42)

In [9]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train['Activity'])

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [22]:
def predictWith(clf, data):
    predictions = []
    predictions.append(clf.predict(data))
    return predictions

In [23]:
sample = pd.read_csv('../server/data/ppg_motionData.csv')
sample

        time    IR   Red         X         Y         Z
0     464381  3431  5778 -0.000063 -0.000063 -0.000063
1     464435  3434  5793 -0.000063 -0.000063 -0.000063
2     464465  3431  5777 -0.000063 -0.000063 -0.000063
3     464511  3428  5802 -0.000063 -0.000063 -0.000063
4     464546  3427  5788 -0.000063 -0.000063 -0.000063
5     464591  3437  5779 -0.000063 -0.000063 -0.000063
6     464624  3422  5804 -0.000063 -0.000063 -0.000063
7     464668  3426  5777 -0.000063 -0.000063 -0.000063
8     464704  3430  5781 -0.000063 -0.000063 -0.000063
9     464746  3429  5759 -0.000063 -0.000063 -0.000063
10    464790  3426  5751 -0.000063 -0.000063 -0.000063
11    464840  3425  5762 -0.000063 -0.000063 -0.000063
12    464870  3418  5773 -0.000063 -0.000063 -0.000063
13    464904  3422  5796 -0.000063 -0.000063 -0.000063
14    464945  3421  5769 -0.000063 -0.000063 -0.000063
15    464986  3419  5781 -0.000063 -0.000063 -0.000063
16    465024  3413  5778 -0.000063 -0.000063 -0.000063
17    465101  3415  5775 -0.000063 -0.000063 -0.000063
18    465150  3415  5749 -0.000063 -0.000063 -0.000063
19    465192  3415  5757 -0.000063 -0.000063 -0.000063
20    465225  3422  5749 -0.000063 -0.000063 -0.000063
21    465267  3418  5763 -0.000063 -0.000063 -0.000063
22    465306  3406  5767 -0.000063 -0.000063 -0.000063
23    465349  3414  5758 -0.000063 -0.000063 -0.000063
24    465389  3413  5752 -0.000063 -0.000063 -0.000063
25    465427  3414  5745 -0.000063 -0.000063 -0.000063
26    466402  3398  5700 -0.000063 -0.000063 -0.000063
27    466445  3399  5712 -0.000063 -0.000063 -0.000063
28    466489  3400  5733 -0.000063 -0.000063 -0.000063
29    466525  3399  5739 -0.000063 -0.000063 -0.000063
...      ...   ...   ...       ...       ...       ...
4410  660497  1265  2281 -0.000063 -0.000063 -0.000063
4411  660535  1268  2271 -0.000063 -0.000063 -0.000063
4412  660575  1265  2260 -0.000063 -0.000063 -0.000063
4413  660621  1259  2261 -0.000063 -0.000063 -0.000063
4414  660656  1271  2289 -0.000063 -0.000063 -0.000063
4415  660695  1265  2257 -0.000063 -0.000063 -0.000063
4416  660736  1267  2241 -0.000063 -0.000063 -0.000063
4417  660779  1268  2244 -0.000063 -0.000063 -0.000063
4418  660815  1258  2257 -0.000063 -0.000063 -0.000063
4419  660858  1263  2263 -0.000063 -0.000063 -0.000063
4420  660896  1257  2277 -0.000063 -0.000063 -0.000063
4421  660943  1260  2280 -0.000063 -0.000063 -0.000063
4422  660994  1264  2257 -0.000063 -0.000063 -0.000063
4423  661014  1266  2269 -0.000063 -0.000063 -0.000063
4424  661054  1265  2267 -0.000063 -0.000063 -0.000063
4425  661101  1269  2257 -0.000063 -0.000063 -0.000063
4426  661139  1271  2264 -0.000063 -0.000063 -0.000063
4427  661178  1260  2290 -0.000063 -0.000063 -0.000063
4428  661246  1263  2280 -0.000063 -0.000063 -0.000063
4429  661298  1259  2263 -0.000063 -0.000063 -0.000063
4430  661339  1267  2284 -0.000063 -0.000063 -0.000063
4431  661376  1268  2257 -0.000063 -0.000063 -0.000063
4432  661418  1263  2267 -0.000063 -0.000063 -0.000063
4433  661455  1254  2249 -0.000063 -0.000063 -0.000063
4434  661495  1259  2238 -0.000063 -0.000063 -0.000063
4435  661572  1257  2277 -0.000063 -0.000063 -0.000063
4436  661621  1264  2255 -0.000063 -0.000063 -0.000063
4437  661655  1256  2250 -0.000063 -0.000063 -0.000063
4438  661695  1266  2261 -0.000063 -0.000063 -0.000063
4439  661733  1261  2279 -0.000063 -0.000063 -0.000063

[4440 rows x 6 columns]

In [24]:
predictWith(clf, sample[:][['X', 'Y', 'Z']])

[array([5, 5, 5, ..., 5, 5, 5])]