In [85]:
import sklearn as skl
import pandas as pd

In [86]:
data = pd.read_csv('../server/data/sampleXYZ.csv')
data[:10]

,Time stamp,X,Y,Z,Activity,X.1,Y.1,Z.1,Activity .1,X.2,...,Z.2,Activity .2,X.3,Y.3,Z.3,Activity .3,X.4,Y.4,Z.4,Activity .4
0,0.00,-1.44,6.97,6.67,1,-5.46,7.24,3.51,2,4.88,...,1.77,3,8.64,-12.19,4.34,4,14.13,-1.27,7.43,5
1,0.02,-1.50,6.90,6.62,1,-5.52,7.34,3.48,2,5.12,...,1.83,3,11.32,-12.78,7.61,4,19.61,1.19,7.88,5
2,0.04,-1.50,6.90,6.61,1,-5.42,7.30,3.73,2,5.34,...,2.15,3,9.85,-11.01,9.90,4,18.61,-2.27,9.45,5
3,0.06,-1.50,6.77,6.84,1,-5.43,7.40,3.40,2,5.95,...,2.32,3,7.23,-11.42,8.59,4,12.25,-3.78,8.55,5
4,0.08,-1.47,7.11,6.91,1,-5.43,7.36,3.39,2,6.52,...,2.60,3,5.44,-10.62,4.74,4,8.67,-2.30,5.67,5
5,0.10,-1.49,6.90,6.78,1,-5.46,7.32,3.51,2,6.91,...,2.87,3,2.99,-8.12,1.72,4,5.49,-2.39,5.43,5
6,0.12,-1.45,6.91,6.63,1,-5.47,7.33,3.52,2,6.75,...,3.41,3,1.90,-5.24,0.59,4,3.34,-2.16,5.83,5
7,0.14,-1.61,6.91,6.70,1,-5.44,7.22,3.71,2,6.66,...,3.97,3,1.90,-2.92,1.13,4,0.00,-1.55,3.38,5
8,0.16,-1.57,6.97,6.56,1,-5.45,7.43,3.50,2,7.31,...,4.21,3,2.46,-1.51,0.81,4,-2.54,-3.40,-0.12,5
9,0.18,-1.58,6.86,6.66,1,-5.40,7.32,3.50,2,7.68,...,4.19,3,3.33,-0.91,0.00,4,-2.04,-7.18,-1.47,5

In [87]:
data.shape

(4500, 21)

In [88]:
act1 = data[:][['X', 'Y', 'Z', 'Activity ']].rename(columns = { 'X':'X', 'Y':'Y', 'Z':'Z', 'Activity ':'Activity'})
act2 = data[:][['X.1', 'Y.1', 'Z.1', 'Activity .1']].rename(columns = { 'X.1':'X', 'Y.1':'Y', 'Z.1':'Z', 'Activity .1':'Activity'})
act3 = data[:][['X.2', 'Y.2', 'Z.2', 'Activity .2']].rename(columns = { 'X.2':'X', 'Y.2':'Y', 'Z.2':'Z', 'Activity .2':'Activity'})
act4 = data[:][['X.3', 'Y.3', 'Z.3', 'Activity .3']].rename(columns = { 'X.3':'X', 'Y.3':'Y', 'Z.3':'Z', 'Activity .3':'Activity'})
act5 = data[:][['X.4', 'Y.4', 'Z.4', 'Activity .4']].rename(columns = { 'X.4':'X', 'Y.4':'Y', 'Z.4':'Z', 'Activity .4':'Activity'})

In [89]:
reshaped = pd.concat([act1, act2, act3, act4, act5], axis = 0)
reshaped[:10]

      X     Y     Z  Activity
0 -1.44  6.97  6.67         1
1 -1.50  6.90  6.62         1
2 -1.50  6.90  6.61         1
3 -1.50  6.77  6.84         1
4 -1.47  7.11  6.91         1
5 -1.49  6.90  6.78         1
6 -1.45  6.91  6.63         1
7 -1.61  6.91  6.70         1
8 -1.57  6.97  6.56         1
9 -1.58  6.86  6.66         1

In [90]:
reshaped.shape

(22500, 4)

In [91]:
X = reshaped[['X', 'Y', 'Z']]
Y = reshaped[['Activity']]
print X.shape, Y.shape

(22500, 3) (22500, 1)

In [92]:
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
rX, rY = shuffle(X, Y, random_state=0)
X_train, X_test, y_train, y_test = train_test_split(rX, rY, test_size=0.20, random_state=42)

In [93]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train['Activity'])

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [94]:
y_pred = clf.predict(X_test)

In [95]:
correct = 0.0
size = len(y_test)
correct = sum(y_pred == y_test['Activity'])
print "correctness:", correct / float(size)

correctness: 0.938888888889